@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 2.50rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2, .sub-title {
  font-weight: 500;
  font-size: 1.50rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
}

label {
  font-size: 0.75rem;
  margin: 0px 10px;
}

p, label, input, button, a, span {
  font-weight: 400;
}

:root {
    --primary: white;
    --secondary: black;
}

.fcon {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.gap {
    gap: 10px;
}

.big-gap {
    gap: 30px;
}

.col {
    flex-direction: column;
}

/*#region hello */
.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }
/*#endregion */

.Page {
    height: 100vh;
    width: 100%;
}

.logo {
    width: 200px;
    margin: 50px;
}

#logo {
    width: 50px;
}

.Page h1 {
    display: none;
}

.border {
    border: 1px solid black;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  } 

  .button {
    text-decoration: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .button:hover {
    border: 1px solid white;
  }
  
  .button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
  }

  .login {
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.9);
    padding: 20px;
    background-color: white;
    width: 100%;
  }

  #submit {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .login input {
    flex: 1 1;
  }

  video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  #login > article {
    padding: 10vw;
    flex: 1 1 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #login > article:nth-child(2) p {
    color: white;
  }

/*#region fade animation and other styles*/
.fade {
    opacity: 0;
    animation: fade 2s ease forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeUp 2s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down {
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeDown 2s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeLeft 2s ease forwards;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeRight 2s ease forwards;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes parallaxY {
    to {
        transform: translateY(calc(var(--speed) * 75px));
    }
}

@keyframes parallaxX {
    to {
        transform: translateX(calc(var(--speed) * 75px));
    }
}

/*#endregion */

/*#region error */
.badges {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 16px */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.badges .blue {
  background-color: rgba(59, 130, 246, 0.10);
  color: rgb(59 130 246);
  border: 1px rgb(59 130 246) solid;
}

.badges .yellow {
  background-color: rgba(234, 179, 8, 0.10);
  color: rgb(234 179 8);
  border: 1px rgb(234 179 8) solid;
}

.badges .green {
  background-color: rgba(34, 197, 94, 0.10);
  color: rgb(34 197 94);
  border: 1px rgb(34 197 94) solid;
  border-radius: 10px;
  padding: 10px;
}

.badges .red {
  background-color: rgba(239, 68, 68, 0.10);
  color: rgb(239 68 68);
  border: 1px rgb(239 68 68) solid;
  border-radius: 10px;
  padding: 10px;
}
/*#endregion */

/*#region checkbox */
.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper .terms-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px;
}

.checkbox-wrapper .terms-label .label-text {
  margin-left: 10px;
}

.checkbox-wrapper .checkbox-svg {
  width: 20px;
  height: 20px;
}

.checkbox-wrapper .checkbox-box {
  fill: rgba(207, 205, 205, 0.425);
  stroke: #8c00ff;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper .checkbox-tick {
  stroke: #8c00ff;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
  stroke-dashoffset: 0;
}

/*#endregion */


header {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#header-logo {
  width: 50px;
}

.input {
  margin: 10px;
  display: block;
  border: 2px solid transparent;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

#gdm {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
}

#gdm > section {
  text-align: center;
  margin-bottom: 20px;
}

main {
  padding: 50px;
}

body {
  background-color: #ebebeb;
}

#textboxes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#textboxes div {
  display: flex;
  flex-wrap: wrap;
}

#textboxes > div {
  flex: 1 1 100%;
}

#textboxes section {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
}

#textboxes div > * {
  flex: 1 1 100%;
}

#textboxes > section > section {
  flex: 1 1 50%;
}

#textboxes section > div {
  flex: 1 1;
}

fieldset {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 10px;
}

#checkboxes > section {
  flex: 1 0 300px;
}

hr {
  border-top: 1px solid blue;
  margin: 20px 0px;
}

/*#region radio */
.radio-buttons {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #aaa;
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1) input[type="radio"]:checked + .radio-circle::before {
  background-color: red;
}

.radio-button:nth-of-type(2) input[type="radio"]:checked + .radio-circle::before {
  background-color: green;
}

.radio-label {
  font-weight: bold;
}

.radio-button:hover .radio-circle {
  border-color: #555;
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
  background-color: #555;
}

/*#endregion */

#final > section:first-child {
  flex: 1 1 350px;
}

#final > section:nth-child(2) {
  flex: 1 1 350px;
  display: flex;
  flex-wrap: wrap;
}

#final > section:nth-child(2) > *{
  flex: 1 1 100%;
}

#final > section:last-child {
  flex: 1 1 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#region submit */
.btn {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 50%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 .btn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 
 .btn:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }
/*#endregion */


footer {
  background-color: white;
  padding: 20px;
}

#boom {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}